<html>
    <head>

    </head>
    <body>
        <div id="logindiv">
            <select id="lang">
                <option value="en">English</option>
                <option value="es">Spanish</option>
                <option value="hi">Hindi</option>
            </select>
            <input type="button" value="Login" id="login" />
        </div>
        <h1 id='greeting'></h1>
        <script src="resources/jquery-1.11.2.js"></script>
        <script src="resources/Greetr.js"></script>
        <script src="resources/app.js"></script>
    </body>
</html>
